$ubuntu: "Ubuntu", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding:40px;
    font-family:$ubuntu;
}
.pricing-table-container{
    .pricing-header{
       display: flex;
       justify-content: center;
       align-items: center;
       
       .plans-switch-container{
        position: relative;
        color:white;
        display:inline-block;

        .h2{
            margin-right: 10px;
        }
        .plans-switch{
            width:250px;
            background:rgb(5, 5, 72);
            height:55px;
            appearance: none;
            border-radius:24px;
            outline: none;
            cursor: pointer;
            position: relative;

            &::before{
                content:"";
                position: absolute;
                height: 44px;
                width:120px;
                border-radius:24px;
                background:green;
                top: 50%;
                transform:translateY(-50%);
                left: 6px;
                transition: all 0.5s;
    
    
            }
        }
        .monthly{
            position: absolute;
            left:36px;
            top: 18px;
            pointer-events: none;
    
        }
        .yearly{
            position: absolute;
            right:36px;
            top: 18px;
            pointer-events: none;
    
        }


    }

    }
   
  

    .pricing-table{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 32px;
        .table{
            background:#ef476f1f;
            width: 260px;
            padding:32px;
            position: relative;
            background-image: url(/practises/lesson24/images/bg-shape1.svg);

            &.best-value{
                padding-top:70px;
                background-color:rgb(5, 5, 103);
                background-image: url(/practises/lesson24/images/bg-shape2.svg);
                color:white;
                .value{
                    background-color:deeppink;
                    color:white;
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                    


                }
                .btn{
                    background:yellow;
                    color:#222;

                    &:hover{
                        background:rgba(99, 99, 8, 0.112);
                    }

                }


            }
            

            .content{
                .price-container{
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
    
                }
                h3{
                    font-size: 24px;
                    margin-bottom: 15px;
                }
                .price{
                    font-size:56px;
                    font-weight: bold;
                    padding-right: 16px;
                }
                .description{
                    font-size: 15px;
                    // color:#222;
                    margin-bottom: 20px;
                }
                .features{
                    list-style-type: none;
                    padding:0;
                    li{
                        margin: 4px 0;
                        display:flex;
                        align-items: center;
                    }
                    li::before{
                        content: url(/practises/lesson24/images/check-icon.svg);
                        margin-left: 16px;margin-top: 4px;
                    }
                }
               
    
            }
    
        }
        .btn{
            background:blue;
            padding:16px 0;
            display:inline-block;
            width:100%;
            color:white;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            border-radius:24px;
            margin-top: 16px;
            transition:all 400ms;
            &:hover{
                background:black;
            }
        }
       
    }
    

}