.Gradient1{
    width: 100px;
    height:100px;
    transition: 2s;
    background-image: linear-gradient(to bottom right, #00faee,#666bd6,#c70ac1);
}
.Gradient1:hover{
    background-image: linear-gradient(blue, black);
}
.Gradient2{
    width: 100px;
    height:100px;
    background-image: linear-gradient(green, blue);
}
.Gradient3{
    width: 100px;
    height:100px;
    background-image: linear-gradient(180deg, red, green, blue,red, green);
}
.Gradient4{
    width: 100px;
    height:100px;
    background-image:radial-gradient(cyan 10%, transparent 5%, salmon 30%);
}
.Gradient5{
    width: 100px;
    height:100px;
    background-image: radial-gradient(circle, red, yellow, green);
}
.Gradient6{
    width: 100px;
    height:100px;
    background-image:conic-gradient(white, black);
}
.Gradient7{
    width: 100px;
    height:100px;
    background: conic-gradient(from -45deg, white, black, white);
}
.Text1{
    /* white-space: nowrap; */
    width: 200px;
    border: 1px solid black;
    /* overflow:hidden; */
    word-wrap: break-word;
    margin: 2px;
    /* word-wrap: break-all; */
    /* word-wrap: keep-all; */
    /* padding:10px; */

}
.Text2{
    white-space: nowrap;
    width: 140px;
    overflow:hidden;
    /* overflow: visible; */
    /* text-overflow: clip; */
    text-overflow: ellipsis;
    /* word-wrap: break-all; */
    border: 1px solid black;

}
.Text3{
    width: 140px;
    overflow:hidden;
    line-break: strict;
    border: 1px solid black;
}
.Text4{
        width: 140px;
        overflow:hidden;
        line-break: normal;
        border: 1px solid black;
    }
.Text5{
    writing-mode: vertical-rl;
    width: 140px;
    height:80px;
    /* writing-mode: horizontal-tb; */
  font-size: 1em;
}
img{
    width: 80%;
    /* filter:grayscale(90%); */
    filter:blur(5px);
    /* filter:brightness(200%); */
    /* filter:contrast(200%); */
    /* filter:invert(90%); */
}
.keyoframo {
    width: 100px;
    height: 100px;
    position: relative;
    background:red;
    animation: mymove 5s infinite;
    
}
@keyframes mymove{
    from{left:0px;}
    to{left:100px; }
}

.keyoframo1{
    width: 200px;
    height: 200px;
    background: green;
    position: relative;
    animation: mymove2 5s ease-in infinite;

}
@keyframes mymove2 {
    0%{top: 0px; background-color: brown;}
    25%{top: 200px; background-color: blue; }
    50%{top: 100px; background-color: red;}
    75%{top: 200px; background-color: gold;}
    100%{top: 0px; background-color: black;}
    
}





