.bg-red{
    background-color: tomato;
}
.bg-green{
    background-color: green;
}
.bg-yellow{
    background-color: yellow;
}
.bg-blue{
    background-color: blue;
}
.bg-orange{
    background-color: orange;
}
